apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: production
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 4000
    protocol: TCP
  selector:
    app: api-gateway